.container{
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: -50px;
    img{
        max-width: 250px;
        align-self: center;
        background-color: var(--project-card-bg);
        border-radius: 20px;
    }

    a{
        width: fit-content;
        text-decoration: none;
        color: #222;
        transition: transform 200ms ease-in-out;
    }

    a:hover{
        transform: scale(1.05);

    }
 
}

.separator {
    display: block; /* Asegura que se comporte como bloque */
    width: 60%;
    max-width: 400px;
    height: 1px; /* La altura debe existir */
    /* CAMBIO CLAVE: Usa 'background-image' o asegúrate de que el gradiente sea visible */
    background: linear-gradient(90deg, transparent, var(--text-color), transparent) !important;
    opacity: 0.5; /* Subimos un poco la opacidad para que no sea invisible */
    margin: 40px auto;
    border: none;
    outline: none;;
}

.projectsContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}


@media (width >=800px){
    .projectsContainer{
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
        padding: 0 30px;
    }
}