.container{
    display: flex;
    flex-direction: column;
    text-align: center;

    span{
        display: flex;
        align-items: center;
        gap: 5px;
    }

    img{
        width: 16px;
    }
}

.skillList{
    display: flex;
    justify-content: center;
    align-self: center;
    flex-wrap: wrap;
    row-gap: 30px;
    max-width: 90%;
}

/* Optimización para los items individuales */
.skillList span {
    display: flex;
    align-items: center;
    gap: 8px;
    background: rgba(255, 255, 255, 0.05); 
    padding: 5px 10px;
    border-radius: 8px;
    white-space: nowrap; /* Evita que "VPS Deployment" se parta en dos líneas */
}

hr{
    width: 100px;
    height: 1px;
    border: none;
    background-color: var(--text-color);
    margin: 30px auto;
}


.separator {
    display: block; /* Asegura que se comporte como bloque */
    width: 60%;
    max-width: 400px;
    height: 1px; /* La altura debe existir */
    /* CAMBIO CLAVE: Usa 'background-image' o asegúrate de que el gradiente sea visible */
    background: linear-gradient(90deg, transparent, var(--text-color), transparent) !important;
    opacity: 0.5; /* Subimos un poco la opacidad para que no sea invisible */
    margin: 40px auto;
    border: none;
    outline: none;;
}

@media (width >=800px){
    .skillList{
        max-width: fit-content;
        gap: 30px;

        p{
            font-size: 20px;
        }

        
    }

    hr{
        width: 300px;
    }
}